backports.entry-points-selectable==1.1.0
backports.functools-lru-cache==1.5
beautifulsoup4==4.8.2
chardet==3.0.4
configparser==4.0.2
contextlib2==0.6.0.post1
distlib==0.3.2
Django==1.11.29
filelock==3.0.12
html5lib==1.0.1
importlib-metadata==2.1.1
importlib-resources==3.3.1
lxml==4.5.0
numpy==1.16.5
pathlib2==2.3.6
platformdirs==2.0.2
pytz==2021.1
scandir==1.10.0
singledispatch==3.7.0
six==1.14.0
soupsieve==1.9.5
typing==3.10.0.0
virtualenv==20.7.2
webencodings==0.5.1
zipp==1.2.0
